.product-details-section {
  background: #faf7f2;
  padding: 60px 0;
}

.product-details-container {
  max-width: 1100px;
  margin: auto;
  background: white;
  padding: 50px;
  border-radius: 16px;
  display: flex;
  gap: 40px;
  box-shadow: 0px 6px 25px rgba(0,0,0,0.12);
}

.product-image {
  width: 420px;
  border-radius: 14px;
  transition: 0.3s ease;
}

.product-image:hover {
  transform: scale(1.03);
}

.product-info h1 {
  font-size: 34px;
  margin-bottom: 10px;
}

.stars {
  font-size: 20px;
  color: #ffc600;
  margin-bottom: 15px;
}

.product-price {
  font-size: 26px;
  color: #a56d00;
  font-weight: 700;
  margin-bottom: 15px;
}

.product-description {
  color: #3b3b3b;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Quantity Selector */
.quantity-box {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.quantity-box button {
  width: 35px;
  height: 35px;
  background: #a56d00;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.quantity-box span {
  font-size: 18px;
  font-weight: bold;
  align-items: center;
  padding-left: 10px;
}

/* Add to Cart button */
.add-to-cart-btn {
  background: #a56d00;
  color: white;
  padding: 12px 28px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

.add-to-cart-btn:hover {
  background: #8b5c00;
}

/* Recommended Section */
.recommended-section {
  padding: 60px 0;
  background: #fff;
  text-align: center;
}

.recommended-section h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.recommended-grid {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.rec-card {
  width: 250px;
  background: #fafafa;
  border-radius: 12px;
  box-shadow: 0px 4px 14px rgba(0,0,0,0.1);
  padding: 20px;
  transition: 0.3s;
}

.rec-card:hover {
  transform: translateY(-5px);
}

.rec-card img {
  width: 100%;
  border-radius: 12px;
  height: 180px;

}

.view-details-btn {
  display: inline-block;
  margin-top: 12px;
  padding: 8px 14px;
  background: #a56d00;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-size: 15px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-box {
  background: white;
  padding: 25px;
  border-radius: 8px;
  width: 350px;
  text-align: center;
}

.modal-buttons button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
}


@media (max-width: 768px) {
  .product-details-container {
    flex-direction: column;
    text-align: center;
    padding: 35px;
  }

  .product-image {
    width: 100%;
  }
}
