.products-section {
  background-color: #F8F5EE;
  text-align: center;
  padding: 5px 0;
}

.products-section h1 {
  font-size: 2.2rem;
  margin-bottom: 40px;
  color: #37332A;
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 30px;
}

.product {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 220px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.product-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.product-name {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #37332A;
}

.product-price {
  color: #7A7569;
  font-weight: 600;
  margin-top: 5px;
}
.add-to-cart-btn {
  background-color: #c58940;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

.add-to-cart-btn:hover {
  background-color: #b07c34;
}